.mapboxglPopupCloseButton {
  display: none;
}

.spider-leg-container .spider-leg-pin {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  font-size: 20px;
}

.spider-leg-container .spider-leg-line {
  background-color: #f4f4f4;
}
.spider-leg-container:hover .spider-leg-line {
  background-color: #f404f4;
}
